---
import { APP_BLOG } from 'astrowind:config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;
const image = await findImage(post.image);

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article
  class="mb-6 transition intersect-once intersect-quarter"
>
  <div class="relative md:h-64 my-auto mx-auto bg-white dark:bg-slate-700 rounded shadow-lg mb-6">
    {
      image ?
        (link ? (
          <a href={link}>
            <Image
              src={image}
              class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
              widths={[400, 900]}
              width={400}
              sizes="(max-width: 900px) 400px, 900px"
              alt={post.title}
              aspectRatio="16:9"
              layout="cover"
              loading="lazy"
              decoding="async"
            />
          </a>
        ) : (
          <Image
            src={image}
            class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
            widths={[400, 900]}
            width={400}
            sizes="(max-width: 900px) 400px, 900px"
            alt={post.title}
            aspectRatio="16:9"
            layout="cover"
            loading="lazy"
            decoding="async"
          />
        )) : (
          <a href={link} class="flex w-full h-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300"
            class="text-gray-900 dark:text-gray-200 w-full aspect-square max-w-32 mx-auto">
            <defs>
              <clipPath id="cut-two">
                <rect x="365" y="-50" width="40" height="80" transform="rotate(45)" />
                <rect x="365" y="-50" width="80" height="40" transform="rotate(45)" />
              </clipPath>
            </defs>
            <style>
              line, circle { stroke: currentColor; }
            </style>
            <g>
              <!-- tree -->
              <rect x="156.5" y="3" width="34" height="59" fill="#7F7F7F" />
              <rect x="83" y="28" width="181" height="34" fill="#7F7F7F" />
              <rect x="83" y="28" width="34" height="50" fill="#7F7F7F" />
              <rect x="230" y="28" width="34" height="90" fill="#7F7F7F" />
              <rect x="209" y="84" width="76" height="34" fill="#7F7F7F" />

              <rect x="68" y="130" width="64" height="41" fill="#FF0000" />
              <rect x="83" y="78" width="34" height="34" fill="#FF0000" />

              <rect x="209" y="118" width="34" height="34" fill="#00FF00" />

              <rect x="251" y="118" width="34" height="34" fill="#0000FF" />

              <!-- Q (magnifying glass) -->
              <circle cx="100" cy="180" r="67.5" class='s' stroke-width="35" fill="none" />
              <line x1="155" y1="235" x2="200" y2="285" class='s' stroke-width="30"/>

              <!-- 2 -->
              <g transform="translate(-50,-90)">
                <circle cx="295" cy="280" r="24" stroke-width="22" fill="none" clip-path="url(#cut-two)" />
                <line x1="312" y1="297" x2="270" y2="339" stroke-width="22" />
                <line x1="263" y1="340" x2="325" y2="340" stroke-width="20" />
              </g>
            </g>
          </svg>
          </a>
        )
    }
  </div>

  <h3 class="text-lg sm:text-xl font-bold leading-tight mb-2 font-heading dark:text-slate-300">
    {
      link ? (
        <a class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200" href={link}>
          {post.title}
        </a>
      ) : (
        post.title
      )
    }
  </h3>

  <p class="text-muted dark:text-slate-400 text-lg">{post.excerpt}</p>
</article>
